*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-dark: #08090b;
  --max-width: 1300px;
  --text: #ffffff;
  --text-muted: #9ca3af;
  --bg-light: rgba(255, 255, 255, 0.1);
  --accent-green: #22c55e;
  --border-subtle: rgba(148, 163, 184, 0.25);
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'SF Pro Text',
    'Inter',
    sans-serif;
  position: relative;
  color: var(--text);
  background-color: var(--bg-dark);
}

.page {
  width: 100%;
  max-width: var(--max-width);
  padding: 24px 24px 64px;
  margin: 0 auto;
}

.hero {
  background-image: url('https://www.mintlify.com/hero/bg-light.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  min-height: 100vh;
}

.btn {
  border-radius: 999px;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition:
    background 0.15s ease,
    color 0.15s ease,
    box-shadow 0.15s ease,
    border-color 0.15s ease;
}

/*  **************************************************** HEADER ********************************************** */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  padding: 10px 18px;
  margin-bottom: 40px;
}

.logo {
  width: 104px;
  height: 24px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 14px;
}

.nav-link {
  border: none;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: var(--text);
}

.nav-link:hover {
  color: var(--text);
  border-radius: 50px;
  background-color: var(--bg-light);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.nav-muted {
  color: var(--text-subtle);
  border-radius: 50px;
  background-color: var(--bg-light);
}

/**************************************************** HERO SECTION ********************************************** */

.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-title {
  text-align: center;
  font-size: 50px;
}

.hero-subtitle {
  text-align: center;
  font-size: 18px;
}

.hero-img-container {
  width: 100%;
  text-align: center;
  margin-top: 90px;
}

.hero-img-container img {
  border-radius: 10px;
}

/**************************************************** PARTNER LOGOS ********************************************** */

#partner-logos {
  margin: 80px 0;
}

.logos-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  place-items: center;
  padding: 0 120px;
}

.logos-container img {
  height: 50px;
  width: 120px;
  object-fit: contain;
  object-position: center;
}

/**************************************************** FEATURES ********************************************** */

#features {
  margin-bottom: 60px;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.feature-subtitle {
  line-height: 24px;
  width: 50%;
  color: var(--text-muted);
}

.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 40px;
}

.row-one {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.feature-box {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--border-subtle);
  width: 450px;
  height: 550px;
}

.text-brand {
  color: var(--accent-green);
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 20px;
}

.text-main {
  font-size: 24px;
  line-height: 31px;
  color: var(--text);
  margin-bottom: 20px;
  letter-spacing: -0.24px;
}

.text-sub {
  line-height: 1.5;
  font-size: 16px;
  margin-bottom: 40px;
}

.feature-img img {
  width: 100%;
}

.img-one {
  width: 100%;
}

.row-two {
  width: 76%;
}

.row-box {
  padding: 20px;
  border-radius: 15px;
  border: 1px solid var(--border-subtle);
}

.text-center {
  text-align: center;
}
